# Virtual Environment
myenv/
venv/

# Model files
*similarity.pkl
*DATASETS/similarity.pkl

*.joblib

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter Notebook checkpoints

DATASETS/similarity.pkl
DATASETS/tmdb_5000_credits


myenv/Lib